
USER_PASS_GMAIL="###########################"
USER_EMAIL_GMAIL="##############################"


DB_HOST=db.smkmadinatulquran.sch.id
DB_USERNAME=kelompok2
DB_PASSWORD=rahasia
DB_DATABASE=lapuang
DB_PORT=3307

 # Cloudinary
CLOUDINARY_NAME=dhhfb7liu
CLOUDINARY_API_KEY=994313579769799
CLOUDINARY_API_SECRET=QK3lN667aX9bRcs1xlznRuT7fsc
